main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: var(--color-white);
    
    margin-top: 0vh;
    transition: margin-top 1s;
}

.main {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.m100 {
    margin-top: 100vh;
}